{% extends 'app/base.html' %}

{% block content %}


  <div class="is-flex is-justify-content-space-between">
    <h1 class="title">Obsługiwane sklepy</h1>
    <div class="field is-grouped">
      <div class="control">
        <input class="input" type="text" placeholder="Szukaj...">
      </div>
      <div class="control">
        <button class="input">Szukaj</button>
      </div>
    </div>
  </div>

  <div class="columns">
    {% for store in stores %}    
      <div class="column is-one-fifth">

        <div class="tile is-child box has-text-centered">
          <p class="title">{{ store.name }}</p>
          <img src="{{ store.photo_url }}" alt="{{ store.name }} photo" width="140" >
        </div>

      </div>
    {% endfor %}
  </div>

{% endblock %}
