<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">

  <title>
    {% block title %}{% endblock %}
  </title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body class="is-dark has-background-dark is-fullheight-with-navbar" style="min-height: 100vh; ">
  <nav class="navbar has-background-black-ter is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Strona główna
        </a>

        <a class="navbar-item">
          Documentation
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Więcej
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              O PromoBot
            </a>
            <a class="navbar-item">
              Kontakt
            </a>
            <a class="navbar-item">
              Zgłoś błąd
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item dark-mode-button"> Tryb ciemny</a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">

            {% if user.is_authenticated %}
              <div class="has-dropdown is-hoverable navbar-item">
                <a href="" class="button is-primary navbar-link">Moje konto</a>
              <div class="navbar-dropdown">
                <a href="{% url 'logout' %}" class="navbar-item">
                  Wyloguj
                </a>
              </div>
              </div>

            {% else %}
              <a href="{% url 'register' %}" class="button is-primary">
                <strong>Rejestracja</strong>
              </a>
              <a href="{% url 'login' %}" class="button is-light">
                Logowanie
              </a>
            {% endif %} 

          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container mt-5 is-dark">
    {% block content %}

    {% endblock %}
  </div>

</body>
</html>