<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">


  <title>
    {% block title %}{% endblock %}
  </title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/4b8f99a165.js" crossorigin="anonymous"></script>
  <style>
    body {
        overflow: hidden;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="is-dark has-background-dark is-fullheight-with-navbar" style="min-height: 100vh; height:100%">
  <nav class="navbar has-background-black-ter is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'main:homepage' %}">
        <strong class="title has-text-white">PromoBot</strong>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="{% url 'main:available_stores' %}" class="navbar-item">
          Obsługiwane sklepy
        </a>
        {% if user.is_authenticated %}
          <a href="{% url 'main:add_products' %}" class="navbar-item">
           Śledź własne produkty
          </a>
        {% endif %}

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Więcej
          </a>

          <div class="navbar-dropdown">
            <a href="{% url 'main:about' %}" class="navbar-item">
              O PromoBot
            </a>
            <a href="{% url 'main:contact' %}" class="navbar-item">
              Kontakt
            </a>
            <a href="{% url 'main:report_bug' %}" class="navbar-item">
              Zgłoś błąd
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item dark-mode-button"> Tryb ciemny</a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <form action="{% url 'main:search_product' %}" method="get">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" name="search_term" type="text" placeholder="Wyszukaj produkt">
              <span class="icon is-small is-left">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
            </p>
          </div>
        </form>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <a href="{% url 'main:download' %}" class="button is-white"><i class="fa-solid fa-download pr-2"></i>Pobierz</a>

            {% if user.is_authenticated %}
              <div class="has-dropdown is-hoverable navbar-item">
                <a href="{% url 'main:user_page' %}" class="button is-primary navbar-link">Moje konto</a>
              <div class="navbar-dropdown">
                <a href="{% url 'main:products_account' %}" class="navbar-item">
                  Produkty
                </a>
                <a href="{% url 'main:categories_account' %}" class="navbar-item">
                  Kategorie
                </a>
                <hr class="navbar-divider">
                <a href="{% url 'main:premium' %}" class="navbar-item has-text-success">
                  <strong>PREMIUM</strong>
                </a>
                <hr class="navbar-divider">
                <a href="{% url 'main:logout' %}" class="has-text-danger navbar-item">
                  Wyloguj
                </a>

              </div>
              </div>

            {% else %}
              <a href="{% url 'main:register' %}" class="button is-primary">
                <strong>Rejestracja</strong>
              </a>
              <a href="{% url 'main:login' %}" class="button is-light">
                Logowanie
              </a>
            {% endif %} 

          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container mt-5 box">
    {% block content %}

    {% endblock %}
  </div>

  {% if messages %}
    <div class="columns is-justify-content-right is-fixed-top">

    {% for message in messages %}
      <div class="column notification is-info is-one-fifth mr-4 is-align-self-flex-end">
        <button class="delete"></button>
      {{ message }}
      </div>
    {% endfor %}
  </div>
  {% endif %}

  <script>
    document.addEventListener('DOMContentLoaded', () => {
  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
    const $notification = $delete.parentNode;

    $delete.addEventListener('click', () => {
      $notification.parentNode.removeChild($notification);
    });
  });
});
  </script>

</body>
</html>