{% extends 'app/base.html' %}

{% block content %}
<h1 class="title">Pobierz PromoBot</h1>
<div class="content has-text-centered">
    <div class="windows-mac-buttons">
            <a class="button is-primary is-large is-size-2">
                <span>
                    <i class="fa-brands fa-windows pr-2"></i>Windows
                </span>
            </a>

            <a class="button is-primary is-large is-size-2">
                <span>
                    <i class="fa-brands fa-apple pr-2"></i>Mac OS
                </span>
            </a>
            
    </div>
    <div class="other-links mt-3">
        <a class="is-size-5">Pozostałe <i class="fa-brands fa-linux"></i></a>
    </div>
</div>
<div class="content">
    <h2 class="subtitle">
        Instrukcje
    </h2>
</div>
{% endblock content %}