{% extends 'app/base.html' %}

{% block content %}
  <script>
    window.onload = function() {
    const nav_tabs = [document.querySelector("li#hot"), document.querySelector("li#new"), document.querySelector("li#top")];
    const tabs = document.querySelectorAll("div.tab");

    nav_tabs.forEach((nav_tab) => {
        nav_tab.addEventListener("click", () => {
          document.querySelector(".is-active").classList.remove("is-active");
          nav_tab.classList.add("is-active");

          switch (nav_tab.id) {
              case "hot":
                  tabs.forEach((tab) => {
                      if (!tab.classList.contains("is-hidden")) {
                          tab.classList.add("is-hidden");
                      }
                  })
                  document.querySelector("div.tab.hot").classList.remove("is-hidden");
                  break;
              case "new":
                  tabs.forEach((tab) => {
                      if (!tab.classList.contains("is-hidden")) {
                          tab.classList.add("is-hidden");
                      }
                  })
                  document.querySelector("div.tab.new").classList.remove("is-hidden");
                  break;
              case "top":
                  tabs.forEach((tab) => {
                      if (!tab.classList.contains("is-hidden")) {
                          tab.classList.add("is-hidden");
                      }
                  })
                  document.querySelector("div.tab.top").classList.remove("is-hidden");
                  break;

          }
      })
    })
  }
  </script>

  <div class="tabs">
    <ul>
      <li id="hot"><a>Gorące</a></li>
      <li id="new" class="is-active"><a>Nowe</a></li>
      <li id="top"><a>TOP</a></li>
    </ul>
  </div>

  <div class="is-hidden hot block tab">
    <h1 class="title">Gorące okazje</h1>
    <div class="products is-flex is-flex-direction-column">
      <!-- CARD START-->
      {% for promo in promos %}
      <div class="card m-2">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Placeholder image">
              </figure>
            </div>

              <div class="media-content">
                <p class="title is-3"><a href="">Nazwa produktu</a></p>
                <p class="subtitle is-6">[opis jakis ale skad w sumie]</p>

                <time datetime="1970-1-1">21:37 | 1. Stycznia 1970</time>
              </div>

              <div class="media-right">
                <div class="rating">
                  <i class="fa-solid fa-circle-plus" style="color: darkorange"></i>
                  2137
                  <i class="fa-solid fa-circle-minus" style="color: deepskyblue"></i>
                </div>
                <div class="comments has-text-right">
                  <i class="fa-solid fa-comments"></i> 0
                </div>
              </div>

          </div>

        </div>
      </div>
      {% endfor %}
      
      <!-- CARD END -->

    </div>

  </div>

  <div class="new block tab">
    <h1 class="title">Najnowsze okazje</h1>
    <div class="products is-flex is-flex-direction-column">
      <!-- CARD START-->
      {% for product in products %}
      <div class="card m-2">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <img src="{{ product.thumbnail.img_url }}" alt="Placeholder image">
              </figure>
            </div>

              <div class="media-content">
                <p class="title is-3"><a href="">{{ product.name }}</a></p>
                <p class="subtitle is-6"><strong>{{ product.store_name }}</strong> | {{ product.category_name }}</p>

                <time datetime="1970-1-1">21:37 | 1. Stycznia 1970</time>
              </div>

              <div class="media-right">
                <div class="rating">
                  <i class="fa-solid fa-circle-plus" style="color: darkorange"></i>
                  2137
                  <i class="fa-solid fa-circle-minus" style="color: deepskyblue"></i>
                </div>
                <div class="comments has-text-right">
                  <i class="fa-solid fa-comments"></i> 0
                </div>
              </div>

          </div>

        </div>
      </div>
      {% endfor %}
    </div>

  </div>

  <div class="is-hidden top block tab">
    <h1 class="title">TOP okazje</h1>
    <p>Wybierz okres:</p>
    <div class="products is-flex is-flex-direction-column">
      <!-- CARD START-->
      <div class="card m-2">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-128x128">
                  <img src="https://bulma.io/images/placeholders/128x128.png" alt="Placeholder image">
                </figure>
              </div>

                <div class="media-content">
                  <p class="title is-3"><a href="">Nazwa produktu</a></p>
                  <p class="subtitle is-6">[opis jakis ale skad w sumie]</p>

                  <time datetime="1970-1-1">21:37 | 1. Stycznia 1970</time>
                </div>

                <div class="media-right">
                  <div class="rating">
                    <i class="fa-solid fa-circle-plus" style="color: darkorange"></i>
                    2137
                    <i class="fa-solid fa-circle-minus" style="color: deepskyblue"></i>
                  </div>
                  <div class="comments has-text-right">
                    <i class="fa-solid fa-comments"></i> 0
                  </div>
                </div>

            </div>

          </div>
        </div>
      <!-- CARD END -->

      <div class="card m-2">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-128x128">
                  <img src="https://bulma.io/images/placeholders/128x128.png" alt="Placeholder image">
                </figure>
              </div>

                <div class="media-content">
                  <p class="title is-3"><a href="">Nazwa produktu</a></p>
                  <p class="subtitle is-6">[opis jakis ale skad w sumie]</p>

                  <time datetime="1970-1-1">21:37 | 1. Stycznia 1970</time>
                </div>

                <div class="media-right">
                  <div class="rating">
                    <i class="fa-solid fa-circle-plus" style="color: darkorange"></i>
                    2137
                    <i class="fa-solid fa-circle-minus" style="color: deepskyblue"></i>
                  </div>
                  <div class="comments has-text-right">
                    <i class="fa-solid fa-comments"></i> 0
                  </div>
                </div>

            </div>

          </div>
        </div>
      <div class="card m-2">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-128x128">
                  <img src="https://bulma.io/images/placeholders/128x128.png" alt="Placeholder image">
                </figure>
              </div>

                <div class="media-content">
                  <p class="title is-3"><a href="">Nazwa produktu</a></p>
                  <p class="subtitle is-6">[opis jakis ale skad w sumie]</p>

                  <time datetime="1970-1-1">21:37 | 1. Stycznia 1970</time>
                </div>

                <div class="media-right">
                  <div class="rating">
                    <i class="fa-solid fa-circle-plus" style="color: darkorange"></i>
                    2137
                    <i class="fa-solid fa-circle-minus" style="color: deepskyblue"></i>
                  </div>
                  <div class="comments has-text-right">
                    <i class="fa-solid fa-comments"></i> 0
                  </div>
                </div>

            </div>

          </div>
        </div>
    </div>

  </div>


{% endblock %}
