{% extends 'app/base.html' %}

{% block content %}

  <div class="box">
    <form method="POST" class="p-5">
      <h1 class="title">Logowanie</h1>
    {% csrf_token %}
      <div class="is-danger">{{ login_form.non_field_errors }}</div>


    <div class="field">
      <div class="is-danger">{{ login_form.username.errors }}</div>
      <label class="label" for="{{ login_form.username.id_for_label }}">Nazwa użytkownika</label>
      <div class="control">
        {{ login_form.username }}
      </div>
    </div>

    <div class="field">
      <div class="is-danger">{{ login_form.password.errors }}</div>
      <label class="label" for="{{ login_form.password.id_for_label }}">Hasło</label>
      <div class="control">
        {{ login_form.password }}
      </div>
      <p class="help"><a href="{# Todo: forgot password #}">Nie pamiętasz hasła?</a></p>
    </div>

    <div class="field is-grouped">
    <div class="control">
      <input type="submit" class="button is-link" value="Zaloguj">
    </div>
    <div class="control">
      <a href="{% url 'homepage' %}" class="button is-link is-light">Anuluj</a>
    </div>
  </div>

    </form>
  </div>

{% endblock %}