{% extends 'app/base.html' %}

{% block content %}

  <div class="box">
    <form method="POST" class="p-5">
      <h1 class="title">Rejestracja</h1>
    {% csrf_token %}
      <div class="is-danger">{{ register_form.non_field_errors }}</div>


    <div class="field">
      <div class="is-danger">{{ register_form.username.errors }}</div>
      <label class="label" for="{{ register_form.username.id_for_label }}">Nazwa użytkownika</label>
      <div class="control">
        {{ register_form.username }}
      </div>
    </div>

    <div class="field">
      <div class="is-danger">{{ register_form.email.errors }}</div>
      <label class="label" for="{{ register_form.email.id_for_label }}">Adres e-mail</label>
      <div class="control">
        {{ register_form.email }}
      </div>
    </div>

    <div class="field">
      <div class="is-danger">{{ register_form.password1.errors }}</div>
      <label class="label" for="{{ register_form.password1.id_for_label }}">Hasło</label>
      <div class="control">
        {{ register_form.password1 }}
      </div>
    </div>
    <div class="field">
      <div class="is-danger">{{ register_form.password2.errors }}</div>
      <label class="label" for="{{ register_form.password2.id_for_label }}">Powtórz hasło</label>
      <div class="control">
        {{ register_form.password2 }}
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <input type="submit" class="button is-link" value="Zarejestruj">
      </div>
      <div class="control">
        <a href="{% url 'homepage' %}" class="button is-link is-light">Anuluj</a>
      </div>
    </div>
      <p class="help">Masz już konto? <a href="{% url 'login' %}">Zaloguj się</a></p>

    </form>
  </div>

{% endblock %}