{% extends 'app/base.html' %}

{% block title %}
  Zgłoś błąd
{% endblock %}

{% block content %}
  <h1 class="title">Zgłoś błąd</h1>
  <div class="content">
    <p class="description">Znalazłeś na stronie lub w programie jakikolwiek błąd? Zgloś go przez poniższy formularz,
      a postaramy się jak najszybciej rozwiązać problem</p>
    <p class="info">Jeśli chcesz zostać poinformowany o naprawie problemu, zostaw swój adres e-mail.
      Damy znać, gdy problem zostanie rozwiązany!</p>

    <form action="POST">[formularz]</form>
  </div>
{% endblock %}