{% extends 'app/base.html' %}

{% block content %}
<div class="content">
    <h1 class="title mb-6">Premium</h1>


    <p class="subtitle is-5">Standard</p>
    <ul>
        <li>Pomijanie sklepu gdy wystąpi captcha</li>
        <li>Możliwość dodawania linków tylko do <a href="{% url 'available_stores' %}?premium">sklepów bez gwiazdki</a></li>
        <li>Powiadomienia przez: Telegram</li>
        <li>Przerwa pomiędzy sprawdzaniem produktów: około 10 minut</li>
        <li>Ręczne dodawanie linków do produktów</li>
    </ul>

    <p class="subtitle is-5">Premium</p>
    <ul>
        <li>Automatyczne rozwiązywanie captchy, gdy nastąpi taka potrzeba</li>
        <li>Możliwość dodawania linków do <a href="{% url 'available_stores' %}?premium">sklepów oznaczonych gwiazdką</a></li>
        <li>Odblokowane powiadomienia przez: Email, SMS, Połączenie telefoniczne</li>
        <li>Możliwość ustalenia własnego czasu przerwy między sprawdzaniem ceny</li>
        <li>Automatyczne szukanie produktu we wszystkich sklepach</li>
    </ul>

    <p class="price">Cena: {cena}zł / 30dni</p>

    <button class="button is-success">Kup dostep</button>
</div>
{% endblock content %}
