{% extends 'account/base.html' %}

{% block title %}
    Produkty
{% endblock title %}
{% block title2 %}
    <h1 class="title">Produkty</h1>
{% endblock title2 %}


{% block main-column %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Functions to open and close a modal
    function openModal(el, trigger) {
      product_id = trigger.dataset.product_id
      category = trigger.dataset.category
      console.log(category)
      product_name = trigger.dataset.product_name

      el.querySelector("#category").textContent = category;
      el.querySelector("#category").value = category;
      el.querySelector("#product").textContent = product_name;
      el.querySelector("#product").value = product_id;
      el.classList.add('is-active');
    }
  
    function closeModal($el) {
      $el.classList.remove('is-active');
    }
  
    function closeAllModals() {
      (document.querySelectorAll('.modal') || []).forEach(($modal) => {
        closeModal($modal);
      });
    }
  
    // Add a click event on buttons to open a specific modal
    (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target = document.getElementById(modal);
  
      $trigger.addEventListener('click', () => {
        openModal($target, $trigger);
      });
    });
  
    // Add a click event on various child elements to close the parent modal
    (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
      const $target = $close.closest('.modal');
  
      $close.addEventListener('click', () => {
        closeModal($target);
      });
    });
  
    // Add a keyboard event to close all modals
    document.addEventListener('keydown', (event) => {
      const e = event || window.event;
  
      if (e.keyCode === 27) { // Escape key
        closeAllModals();
      }
    });
  });
</script>


<div class="tab my-products">
  <div class="is-flex is-justify-content-space-between">
    <h1 class="subtitle">Wszystkie produkty</h1>
    <a href="{% url 'add_products' %}">+ Dodaj produkt</a>
  </div>

  <div id="modal-add-single-url" class="modal">
    <div class="modal-background"></div>
      <div class="modal-content" style="width:60%">
        <div class="box">
          <form method="POST">
            {% csrf_token %}
            <div class="field has-addons">
              <p class="control is-one-third">
                <span class="select">
                  <select name="product-category" >
                    <option id="category" selected></option>
                  </select>
                </span>
              </p>
              <p class="control is-one-third">
                <span class="select">
                  <select name="product-name">
                    <option id="product" selected></option>
                  </select>
                </span>
              </p>
      
              <p class="control is-expanded">
                <input class="input" name="product-url" required type="text" placeholder="Tutaj wklej adres sklepu z twoim produktem">
              </p>
              <p class="control">
                <input type="submit" name="add-single-url-form" class="button is-primary add-url" value="Dodaj adres">
                  
              </p>
            </div>
          </form>
        </div>
      </div>
    
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    

      <table class="table is-bordered is-fullwidth">
        <tbody>
          <thead>
            <th class="has-text-centered" title="Nazwa produktu">Nazwa</th>
            <th class="has-text-centered" title="Kategoria">Kategoria</th>
            <th class="has-text-centered" title="Liczba linków">Linki</th>
            <th class="has-text-centered" title="Pożądana cena">Cena</th>
            <th class="has-text-centered" title="Akceptowalny odchył (%) od ceny pożądanej">Tolerancja</th>
            <th class="has-text-centered" title="Czas i media wysyłania powiadomień o najniższej cenie">Najniższa cena</th>
            <th class="has-text-centered" title="Media powiadomień o założonej cenie">Powiadomienia</th>
            <th class="has-text-centered" title="Edytuj produkt">Edytuj</th>
          </thead>
          
          {% for product in products %}
          <tr class="has-text-centered">
            <th class="has-text-centered" title="Nazwa produktu"><a href="{% url 'product' product.id %}">{{ product.product_name }}</a></th>
            <td class="has-text-centered" title="Kategoria">{{ product.category_name }}</td>
            <td class="has-text-centered" title="Liczba linków">{{ product.urls_count }}
              
         
              <div class="dropdown is-right is-hoverable">
                <a class="dropdown-trigger" aria-controls="dropdown-menu">
                  <i class="fa-solid fa-circle-plus"></i>
                </a>

                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a href="#" class="dropdown-item js-modal-trigger" data-target="modal-add-single-url" data-product_id="{{ product.id }}" data-product_name="{{ product.product_name }}" data-category="{{ product.category_name }}">
                      Pojedynczy link
                    </a>
                    <a class="dropdown-item">
                      Wiele linków
                    </a>
                    <a href="#" class="dropdown-item">
                      Z pliku
                    </a>
                  </div>
                </div>

              </div>
              
            </td>
            <td class="has-text-centered" title="Pożądana cena">{{ product.wanted_price }} PLN</td>
            <td class="has-text-centered" title="Akceptowalny odchył (%) od ceny pożądanej">{{ product.wanted_price_tolerance }} %</td>
            <td class="has-text-centered" title="Czas i media wysyłania powiadomień o najniższej cenie">
              {{ product.lowest_price_notification_time_value }}{{ product.lowest_price_notification_time_unit}}
              {% for choice in product.lowest_price_notification_choices %}
                {{choice|safe}}
              {% endfor %}
            </td>
            <td class="has-text-centered" title="Media powiadomień o założonej cenie">
              {% for choice in product.wanted_price_notification_choices %}
                {{choice|safe}}
              {% endfor %}
            </td>
            <td class="has-text-centered" title="Edytuj produkt"><a href="{% url 'product_edit' product.id %}">Edytuj</a></td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
    
{% endblock main-column %}
